  - op: add
    name: fs1015_stack
    id: module.driver.fsxxxx_on_fs1015
    thread: {{sensor_thread}}

  - op: get_dependency
    name: i2c_communication_device_stack
    module: fs1015_stack
    requires_id: module.driver.fs1015.requires.comms_i2c_device

  - op: get_dependency
    name: i2c_shared_bus_stack
    module: i2c_communication_device_stack
    requires_id: module.driver.comms_i2c_device.requires.comms_i2c_bus

{% include module_path + '/templates/i2c_shared_bus/' + pmod_sensor_i2c.type + '.yml.j2' %}

    
  - op: change_property
    type: instance
    module_or_thread: i2c_master_stack
    id: module.driver.i2c.channel
    value: {{pmod_sensor_i2c.channel[-1]}}

  - op: add_file
    src: modules/pmod/fs1015/src/{{rtos_name}}/fs1015_sensor.c
    dst: src/fs1015_sensor.c

  - op: add_file
    src: modules/pmod/fs1015/src/{{rtos_name}}/fs1015_sensor.h
    dst: src/fs1015_sensor.h 



{% include mcu_path + '/' + 'templates' + '/' + sensor_module.interface + '.yml.j2' %}