  - op: add
    name: device_i2c_comms_stack
    id: module.driver.comms_i2c_on_comms_i2c_device
    thread: {{sensor_thread}}

  - op: change_property
    type: instance
    module_or_thread: device_i2c_comms_stack
    id: module.driver.comms_i2c_device.name
    value: g_comms_i2c_{{sensor_module.name}}
    name: slave_name

  - op: change_property
    type: instance
    module_or_thread: device_i2c_comms_stack
    id: module.driver.comms_i2c_device.slave_address
    value: 0x39
    name: slave_address

  - op: change_property
    type: instance
    module_or_thread: device_i2c_comms_stack
    id: module.driver.comms_i2c_device.p_callback
    value: {{sensor_module.name}}_callback
    name: slave_callback

  - op: get_dependency
    name: i2c_shared_bus_stack
    module: device_i2c_comms_stack
    requires_id: module.driver.comms_i2c_device.requires.comms_i2c_bus

{% include module_path + '/templates/i2c_shared_bus/' + pmod_sensor_i2c.type + '.yml.j2' %}


  - op: add_file
    src: modules/pmod/{{sensor_module.name}}/src/{{rtos_name}}/{{sensor_module.name}}_sensor.c
    dst: src/{{sensor_module.name}}_sensor.c
  - op: add_file
    src: modules/pmod/{{sensor_module.name}}/src/{{rtos_name}}/{{sensor_module.name}}_sensor.h
    dst: src/{{sensor_module.name}}_sensor.h
  # Add Files for sensor_module
  - op: add_folder
    src: modules/pmod/{{sensor_module.name}}/src/{{rtos_name}}/{{sensor_module.name}}
    dst: src/{{sensor_module.name}}    

{% include mcu_path + '/' + 'templates' + '/' + 'pmod1'+ '.yml.j2' %}