  - op: add
    name: ble_stack
    id: module.middleware.ble_abs_gtl
    thread: {{conn_thread}}
  - op: find_module
    name: ble_gtl
    module: ble_stack
    requires_id: module.middleware.ble_abs_gtl.requires.r_ble_gtl
  - op: change_property
    module_or_thread: ble_gtl
    type: common
    id: module.driver.r_ble_gtl.reset_port
    value: module.driver.r_ble_gtl.reset_port.PORT_{{"%02d" | format(pmod_conn_reset[1] | int(10)) }}
    name: ble_reset_port
  - op: change_property
    module_or_thread: ble_gtl
    type: common
    id: module.driver.r_ble_gtl.reset_pin
    value: module.driver.r_ble_gtl.reset_pin.PIN_{{pmod_conn_reset[-2:]}}
    name: ble_reset_pin
  - op: change_property
    module_or_thread: ble_gtl
    type: common
    id: module.driver.r_ble_gtl.rts_port
    value: module.driver.r_ble_gtl.rts_port.PORT_{{"%02d" | format(pmod_conn_rts[1] | int(10)) }}
    name: ble_rts_port
  - op: change_property
    module_or_thread: ble_gtl
    type: common
    id: module.driver.r_ble_gtl.rts_pin
    value: module.driver.r_ble_gtl.rts_pin.PIN_{{pmod_conn_rts[-2:]}}
    name: ble_rts_pin

  - op: find_module
    name: uart
    module: ble_stack
    requires_id: module.driver.ble_abs_gtl_transport_uart.requires.uart
  - op: change_property
    type: instance
    module_or_thread: uart
    id: module.driver.uart.channel
    value: {{pmod_conn_uart.channel[-1]}}
    name: uart_channel

{% include mcu_path + '/' + 'templates' + '/' + conn_module.interface + '.yml.j2' %}