  - op: add
    name: zmod4xxx_stack
    id: module.driver.zmod4xxx_on_zmod4xxx
    thread: {{sensor_thread}}

  - op: fill_requires
    module: zmod4xxx_stack
    requires_id:  module.driver.zmod4xxx.requires.zmod4xxx_lib
    module_id: module.driver.zmod4410_iaq_2nd_on_zmod4xxx
    name: zmod4410_library

  - op: get_dependency
    name: i2c_communication_device_stack
    module: zmod4410_library
    requires_id: module.driver.zmod4xxx.requires.comms_i2c_device

  - op: get_dependency
    name: i2c_shared_bus_stack
    module: i2c_communication_device_stack
    requires_id: module.driver.comms_i2c_device.requires.comms_i2c_bus

{% include module_path + '/templates/i2c_shared_bus/' + pmod_sensor_i2c.type + '.yml.j2' %}


{% if rtos_name == "baremetal" %}
  - op: add
    id: module.driver.timer_on_gpt
    thread: {{sensor_thread}}
    name: zmod4410_timer
  - op: change_property
    module_or_thread: zmod4410_timer
    type: instance
    id: module.driver.timer.name
    value: zmod4410_delay
    name: zmod4410_timer_name
  - op: change_property
    module_or_thread: zmod4410_timer
    type: instance
    id: module.driver.timer.channel
    value: 0
    name: zmod4410_timer_channel
  - op: change_property
    module_or_thread: zmod4410_timer
    type: instance
    id: module.driver.timer.period
    value: 100
    name: zmod4410_timer_period
  - op: change_property
    module_or_thread: zmod4410_timer
    type: instance
    id: module.driver.timer.unit
    value: module.driver.timer.unit.unit_period_usec
    name: zmod4410_timer_unit
  - op: change_property
    module_or_thread: zmod4410_timer
    type: instance
    id: module.driver.timer.p_callback
    value: zmod4410_delay_callback
    name: zmod4410_timer_callback
  - op: change_property
    module_or_thread: zmod4410_timer
    type: instance
    id: module.driver.timer.ipl
    value: board.icu.common.irq.priority3
    name: zmod4410_timer_interrupt_priority
{% endif %}

  - op: add_file
    src: modules/pmod/zmod4410/src/{{rtos_name}}/zmod4410_sensor.c
    dst: src/zmod4410_sensor.c

  - op: add_file
    src: modules/pmod/zmod4410/src/{{rtos_name}}/zmod4410_sensor.h
    dst: src/zmod4410_sensor.h 

  - op: replace_in_file
    src: src/zmod4410_sensor.c
    match: /* Reset ZMOD sensor (active low). Please change to the IO port connected to the RES_N pin of the ZMOD sensor on the customer board. */ 
    replace: |
      /* Reset ZMOD sensor (active low).*/ 
      R_IOPORT_PinWrite(&g_ioport_ctrl, BSP_IO_PORT_{{"%02d" | format(pmod_sensor_reset[1] | int(10)) }}_PIN_{{pmod_sensor_reset[-2:]}}, BSP_IO_LEVEL_HIGH);
      R_BSP_SoftwareDelay(10, BSP_DELAY_UNITS_MILLISECONDS);
      R_IOPORT_PinWrite(&g_ioport_ctrl, BSP_IO_PORT_{{"%02d" | format(pmod_sensor_reset[1] | int(10)) }}_PIN_{{pmod_sensor_reset[-2:]}}, BSP_IO_LEVEL_LOW);
      R_BSP_SoftwareDelay(10, BSP_DELAY_UNITS_MILLISECONDS);
      R_IOPORT_PinWrite(&g_ioport_ctrl, BSP_IO_PORT_{{"%02d" | format(pmod_sensor_reset[1] | int(10)) }}_PIN_{{pmod_sensor_reset[-2:]}}, BSP_IO_LEVEL_HIGH);
      R_BSP_SoftwareDelay(10, BSP_DELAY_UNITS_MILLISECONDS);

{% include mcu_path + '/' + 'templates' + '/' + sensor_module.interface + '.yml.j2' %}