  - op: add
    name: hs300x_stack
    id: module.driver.hs300x_on_hs300x
    thread: {{sensor_thread}}

  - op: get_dependency
    name: i2c_communication_device_stack
    module: hs300x_stack
    requires_id: module.driver.hs300x.requires.comms_i2c_device

  - op: get_dependency
    name: i2c_shared_bus_stack
    module: i2c_communication_device_stack
    requires_id: module.driver.comms_i2c_device.requires.comms_i2c_bus

{% include module_path + '/templates/i2c_shared_bus/' + pmod_sensor_i2c.type + '.yml.j2' %}


  - op: add_file
    src: modules/pmod/hs3001/src/{{rtos_name}}/hs300x_sensor.c
    dst: src/hs300x_sensor.c

  - op: add_file
    src: modules/pmod/hs3001/src/{{rtos_name}}/hs300x_sensor.h
    dst: src/hs300x_sensor.h 



{% include mcu_path + '/' + 'templates' + '/' + sensor_module.interface + '.yml.j2' %}