  - op: create_thread
    name: t0
  - op: change_property
    type: instance
    module_or_thread: t0
    id: rtos.awsfreertos.thread.name
    value: Sensor Thread
    name: t0_name      
  - op: change_property
    type: instance
    module_or_thread: t0
    id: _symbol
    value: sensor_thread
    name: t0_symbol
  - op: change_property
    type: instance
    module_or_thread: t0
    id: rtos.awsfreertos.thread.priority
    value: 2
    name: t0_priority
  - op: change_property    
    type: common
    module_or_thread: t0
    id: config.awsfreertos.thread.configuse_recursive_mutexes
    value: config.awsfreertos.thread.configuse_recursive_mutexes.enabled
  # Use Mutexes
  - op: change_property
    type: common
    module_or_thread: t0
    id: config.awsfreertos.thread.configuse_mutexes
    value: config.awsfreertos.thread.configuse_mutexes.enabled 
  - op: change_property
    type: instance
    module_or_thread: t0
    id: rtos.awsfreertos.thread.stack
    value: 2048
    name: t0_stack_size 
  {% set sensor_thread = 't0' %}

  - op: create_thread
    name: t1
  - op: change_property
    type: instance
    module_or_thread: t1
    id: rtos.awsfreertos.thread.name
    value: Main Thread
    name: t1_name
  - op: change_property
    type: instance
    module_or_thread: t1
    id: _symbol
    value: main_thread
    name: t1_symbol
  - op: change_property
    type: instance
    module_or_thread: t1
    id: rtos.awsfreertos.thread.priority
    value: 2
    name: t1_priority  
  - op: change_property
    type: instance
    module_or_thread: t1
    id: rtos.awsfreertos.thread.stack
    value: 8192
    name: t0_stack_size      
  - op: change_property    
    type: common
    module_or_thread: t1
    id: config.awsfreertos.thread.configuse_recursive_mutexes
    value: config.awsfreertos.thread.configuse_recursive_mutexes.enabled
  # Use Mutexes
  - op: change_property
    type: common
    module_or_thread: t1
    id: config.awsfreertos.thread.configuse_mutexes
    value: config.awsfreertos.thread.configuse_mutexes.enabled     
  {% set conn_thread = 't1' %}

  - op: create_thread
    name: t2
  - op: change_property
    type: instance
    module_or_thread: t2
    id: rtos.awsfreertos.thread.name
    value: Sub Thread
    name: t2_name      
  - op: change_property
    type: instance
    module_or_thread: t2
    id: _symbol
    value: sub_thread
    name: t2_symbol
  - op: change_property
    type: instance
    module_or_thread: t2
    id: rtos.awsfreertos.thread.priority
    value: 3
    name: t0_priority
  - op: change_property
    type: instance
    module_or_thread: t2
    id: rtos.awsfreertos.thread.stack
    value: 4096
    name: t2_stack_size

{% set mqtt_stack_name = 'mqtt' %}
  - op: add
    name: {{mqtt_stack_name}} 
    id: module.aws.coreMqttLib
    thread: {{conn_thread}}

  - op: find_module
    name: transport_mbedtls
    module: {{mqtt_stack_name}} 
    requires_id: module.aws.coreMqttLib.requires.transport_interface  

{% if conn_module.name == 'da16200' or  conn_module.name == 'da16600' %}
  - op: fill_requires    
    name: sockets_wrapper
    module: transport_mbedtls
    requires_id: module.aws.transport_interface.mbedtls_pkcs11.requires.sockets_wrapper
    module_id: module.aws.sockets_wrapper.wifi_da16xxx

{% set wifi_stack_name = 'wifi_da16xxx' %}
  - op: find_module
    name: {{wifi_stack_name}}
    module: {{mqtt_stack_name}}
    requires_id: module.aws.sockets_wrapper.wifi_da16xxx.requires.wifi
{% include module_path + '/' + 'pmod' + '/' + conn_module.name + '/' + conn_module.name + '.yml.j2' %}
{% else %}
    Connectivity module not supported
{% endif %}

{% include module_path + '/' + 'pmod' + '/' + sensor_module.name + '/' + sensor_module.name + '.yml.j2' +%}

  - op: check_constraints_message
    search_text: Requires FreeRTOS heap implementation 4 or 5
  - op: check_constraints_message
    search_text: MBEDTLS_ECDH_C in MbedTLS (Crypto Only) must be defined when using MbedTLS under MbedTLS
  - op: check_constraints_message
    search_text: A minimum RTOS heap of 0x400 is required to use ECC
  - op: check_constraints_message
    search_text: A minimum RTOS heap of 0x1500 is required to use RSA
  - op: check_constraints_message
    search_text: A minimum RTOS heap of 0x200 is required to use AES
  - op: check_constraints_message
    search_text: CMAC must be enabled
  
  # Change heap size
  - op: change_property
    type: common
    module_or_thread: bsp
    id: config.bsp.common.heap
    value: 0x800
    name: bsp_heap_alloc
    
  # Add Heap.
  - op: add
    name: heap_4
    id: module.freertos.heap.4
    thread: t1
  
  # Enable dynamic allocation.
  - op: change_property
    type: common
    module_or_thread: t1
    id: config.awsfreertos.thread.configsupport_dynamic_allocation
    value: config.awsfreertos.thread.configsupport_dynamic_allocation.enabled
    name: dynamic_allocation

  # Set Heap Size.
  - op: change_property
    type: common
    module_or_thread: t1
    id: config.awsfreertos.thread.configtotal_heap_size
    value: 0xE000
    name: heap_size
    
  - op: find_module
    module: transport_mbedtls
    requires_id: module.arm.mbedtls.requires.psa_crypto
    name: mbedtls_crypto_only

  # Set ECC.
  - op: change_property
    type: common
    module_or_thread: mbedtls_crypto_only
    id: config.driver.psa_crypto.mbedtls_ecdh_c
    value: config.driver.psa_crypto.mbedtls_ecdh_c.enabled
    name: ecc
    
  - op: change_property
    type: common
    module_or_thread: mbedtls_crypto_only
    id: config.driver.psa_crypto.mbedtls_cmac_c
    value: config.driver.psa_crypto.mbedtls_cmac_c.enabled
    name: cmac_enable

  # Check that there are no constraint errors now
  - op: check_constraints_number
    number: 0   

  - op: add_file
    src: applications/adafruit_cloud/{{rtos_name}}/src/main_thread_entry.c
    dst: src/main_thread_entry.c
  - op: add_file
    src: applications/adafruit_cloud/{{rtos_name}}/src/mqtt_wrapper.c
    dst: src/mqtt_wrapper.c
  - op: add_file
    src: applications/adafruit_cloud/{{rtos_name}}/src/mqtt_wrapper.h
    dst: src/mqtt_wrapper.h
  - op: add_file
    src: applications/adafruit_cloud/{{rtos_name}}/src/sensor_thread_entry.c
    dst: src/sensor_thread_entry.c
  - op: add_file
    src: applications/adafruit_cloud/{{rtos_name}}/src/sub_thread_entry.c
    dst: src/sub_thread_entry.c
  - op: add_file
    src: applications/adafruit_cloud/{{rtos_name}}/src/using_plaintext.h
    dst: src/using_plaintext.h
  - op: add_file
    src: applications/adafruit_cloud/{{rtos_name}}/src/using_plaintext.c
    dst: src/using_plaintext.c

  # Add Files for Segger RTT
  - op: add_file
    src: applications/common_files/console/RTT/rtt_stout.c
    dst: src/rtt_stout.c
  - op: add_folder
    src: applications/common_files/console/RTT/SEGGER_RTT
    dst: src/SEGGER_RTT

  - op: add_file
    src: applications/common_files/misc/user.h
    dst: src/user.h    
  - op: add_file
    src: applications/common_files/misc/{{rtos_name}}/common_utils.h      
    dst: src/common_utils.h    
  - op: add_file
    src: applications/common_files/misc/{{rtos_name}}/common_utils.c      
    dst: src/common_utils.c  

  # Documentation
  - op: add_file
    src: applications/{{app_name}}/Documentation/README.md
    dst: README.md

  - op: generate    

#Add module replacements

{% include module_path + '/' + 'pmod' + '/' + sensor_module.name  + '/' + 'applications_src_replacements/' + app_name + '/' + rtos_name + '/' + 'user.h.yml' %}

{% include module_path + '/' + 'pmod' + '/' + sensor_module.name  + '/' + 'applications_src_replacements/' + app_name + '/' + rtos_name + '/' + 'main_thread_entry.c.yml' %}

{% include module_path + '/' + 'pmod' + '/' + sensor_module.name  + '/' + 'applications_src_replacements/' + app_name + '/' + rtos_name + '/' + 'sensor_thread_entry.c.yml' %}

  - op: build
    completed: 1  
    
    warnings_allowed:
      - '.*rm_psa_crypto.*unused-parameter.*'
      - '.*rm_psa_crypto.*conversion.*'
      - '.*rm_psa_crypto.*sign-conversion.*'
      - '.*rm_mbedtls.*conversion.*'
      - '.*rm_mbedtls.*sign-conversion.*'
      - '.*rm_psa_crypto.*unused-function.*'
      - '.*rm_psa_crypto.*implicit-function-declaration.*'
      - '.*rm_psa_crypto.*unused-variable.*'
      - '.*rm_aws_transport_interface_port.*incompatible-pointer-types.*'
      - '.*rm_aws_transport_interface_port.*conversion.*'
      - '.*rm_aws_transport_interface_port.*sign-conversion.*'
      - '.*rm_aws_transport_interface_port.*unused-parameter.*'
      - '.*crypto_procedures.*sign-compare.*'
      - '.*crypto_procedures.*conversion.*'
      - '.*crypto_procedures.*unused-parameter.*'
      - '.*rm_aws_cellular_sockets_wrapper.*logical.*'
      - '.*using_mbedtls_pkcs11.*Wunused-variable.*'
  

