  - op: create_thread
    name: t0
  - op: change_property
    type: instance
    module_or_thread: t0
    id: rtos.awsfreertos.thread.name
    value: Sensor Thread
    name: t0_name      
  - op: change_property
    type: instance
    module_or_thread: t0
    id: _symbol
    value: sensor_thread
    name: t0_symbol
  - op: change_property
    type: instance
    module_or_thread: t0
    id: rtos.awsfreertos.thread.priority
    value: 2
    name: t0_priority
  - op: change_property    
    type: common
    module_or_thread: t0
    id: config.awsfreertos.thread.configuse_recursive_mutexes
    value: config.awsfreertos.thread.configuse_recursive_mutexes.enabled
  # Use Mutexes
  - op: change_property
    type: common
    module_or_thread: t0
    id: config.awsfreertos.thread.configuse_mutexes
    value: config.awsfreertos.thread.configuse_mutexes.enabled      
  - op: change_property
    type: instance
    module_or_thread: t0
    id: rtos.awsfreertos.thread.stack
    value: 1536
    name: t0_stack_size 
{% set sensor_thread = 't0' %}

  - op: create_thread
    name: t1
  - op: change_property
    type: instance
    module_or_thread: t1
    id: rtos.awsfreertos.thread.name
    value: Main Thread
    name: t1_name
  - op: change_property
    type: instance
    module_or_thread: t1
    id: _symbol
    value: main_thread
    name: t1_symbol
  - op: change_property
    type: instance
    module_or_thread: t1
    id: rtos.awsfreertos.thread.priority
    value: 1
    name: t1_priority  
  - op: change_property
    type: instance
    module_or_thread: t1
    id: rtos.awsfreertos.thread.stack
    value: 1536
    name: t0_stack_size      
  - op: change_property    
    type: common
    module_or_thread: t1
    id: config.awsfreertos.thread.configuse_recursive_mutexes
    value: config.awsfreertos.thread.configuse_recursive_mutexes.enabled
  # Use Mutexes
  - op: change_property
    type: common
    module_or_thread: t1
    id: config.awsfreertos.thread.configuse_mutexes
    value: config.awsfreertos.thread.configuse_mutexes.enabled 

  {% set conn_thread = 't1' %}

 {% set mqtt_stack_name = 'mqtt' %}
  - op: add
    name: {{mqtt_stack_name}}
    id: module.driver.mqtt_onchip_da16xxx
    thread: {{conn_thread}}

  - op: change_property
    type: instance
    module_or_thread: mqtt
    id: module.driver.mqtt_onchip_da16xxx.mqtt_certs
    value: certificate
    name: mqtt_certificate   
         
{% if conn_module.name == 'da16200' or  conn_module.name == 'da16600' %}
{% set wifi_stack_name = 'wifi_da16xxx' %}
  - op: find_module
    name: {{wifi_stack_name}}
    module: mqtt
    requires_id: module.driver.mqtt_onchip_da16xxx.requires.wifi_da16xxx  

  - op: find_module
    name: transport_uart
    module: {{mqtt_stack_name}}
    requires_id: module.driver.wifi_da16xxx.requires.at_transport_da16xxx

  - op: change_property
    type: common
    module_or_thread: transport_uart
    id: config.driver.at_transport_da16xxx.cmd_port_rx_size
    value: 768
    name: RX_buffer_size
    
{% include module_path + '/' + 'pmod' + '/' + conn_module.name + '/' + conn_module.name + '.yml.j2' %}
{% else %}
    Connectivity module not supported
{% endif %}
    
{% include module_path + '/' + 'pmod' + '/' + sensor_module.name + '/' + sensor_module.name + '.yml.j2' +%}

  # Check that there are no constraint errors now
  - op: check_constraints_number
    number: 0    

  - op: add_file
    src: applications/{{app_name}}/{{rtos_name}}/src/main_thread_entry.c
    dst: src/main_thread_entry.c
  - op: add_file
    src: applications/{{app_name}}/{{rtos_name}}/src/sensor_thread_entry.c
    dst: src/sensor_thread_entry.c
  - op: add_file
    src: applications/{{app_name}}/{{rtos_name}}/src/certificate.h
    dst: src/certificate.h

  - op: add_file
    src: applications/common_files/misc/user.h
    dst: src/user.h    
  - op: add_file
    src: applications/common_files/misc/{{rtos_name}}/common_utils.h      
    dst: src/common_utils.h    
  - op: add_file
    src: applications/common_files/misc/{{rtos_name}}/common_utils.c      
    dst: src/common_utils.c   

  # Add Files for Segger RTT
  - op: add_file
    src: applications/common_files/console/RTT/rtt_stout.c
    dst: src/rtt_stout.c
  - op: add_folder
    src: applications/common_files/console/RTT/SEGGER_RTT
    dst: src/SEGGER_RTT

  # Documentation
  - op: add_file
    src: applications/{{app_name}}/Documentation/README.md
    dst: README.md

  - op: generate    

#Add module replacements

{% include module_path + '/' + 'pmod' + '/' + sensor_module.name  + '/' + 'applications_src_replacements/' + app_name + '/' + rtos_name + '/' + 'user.h.yml' %}

{% include module_path + '/' + 'pmod' + '/' + sensor_module.name  + '/' + 'applications_src_replacements/' + app_name + '/' + rtos_name + '/' + 'main_thread_entry.c.yml' %}

{% include module_path + '/' + 'pmod' + '/' + sensor_module.name  + '/' + 'applications_src_replacements/' + app_name + '/' + rtos_name + '/' + 'sensor_thread_entry.c.yml' %}

  - op: build
    completed: 1  
    
    warnings_allowed:
      - '.*rm_psa_crypto.*unused-parameter.*'
      - '.*rm_psa_crypto.*conversion.*'
      - '.*rm_psa_crypto.*sign-conversion.*'
      - '.*rm_mbedtls.*conversion.*'
      - '.*rm_mbedtls.*sign-conversion.*'
      - '.*rm_psa_crypto.*unused-function.*'
      - '.*rm_psa_crypto.*implicit-function-declaration.*'
      - '.*rm_psa_crypto.*unused-variable.*'
      - '.*rm_aws_transport_interface_port.*incompatible-pointer-types.*'
      - '.*rm_aws_transport_interface_port.*conversion.*'
      - '.*rm_aws_transport_interface_port.*sign-conversion.*'
      - '.*rm_aws_transport_interface_port.*unused-parameter.*'
      - '.*crypto_procedures.*sign-compare.*'
      - '.*crypto_procedures.*conversion.*'
      - '.*crypto_procedures.*unused-parameter.*'
      - '.*rm_aws_cellular_sockets_wrapper.*logical.*'
      - '.*using_mbedtls_pkcs11.*Wunused-variable.*'
    

