{%- for project in projects %}
- name: default_{{ project.template_data.name }}_{{ project.toolchain | replace("-", "dash") | replace(" ","space") | replace("+","plus") | replace(".","dot") | replace("(","op") | replace(")","cp") }}_{{ project.rtos | replace("-", "dash") | replace(" ","space") | replace("+","plus") | replace(".","dot") | replace("(","op") | replace(")","cp") }}_{{ project.board | replace("-", "dash") | replace(" ","space") | replace("+","plus") | replace(".","dot") | replace("(","op") | replace(")","cp") }}
  # Use 'default' to take whatever is installed. Can specify a specific version as well.
  #fsp_version: 3.1.0-alpha0+20210522.5b45f16c
  fsp_version: default
  board_or_device: {{ project.board }}
  toolchain: {{ project.toolchain }}
  # Use 'default' to take whatever is installed. Can specify a specific version as well.
  #toolchain_version: 9.3.1.20200408
  toolchain_version: default
  # Options: "No RTOS", "FreeRTOS", "Azure"
  rtos: {{ project.rtos }}
  # Specify template name exactly
  template: {{ project.template }}
  sequence:
{%- if 'No RTOS' in project.rtos %}
    - op: get_hal
      name: t0
{%- else %}
    - op: create_thread
      name: t0
{%- endif %}
    - op: add
      id: {{ project.template_data.module_id }}
      name: default
      thread: t0
    # This build is currently needed to generate the entry source file. When EASE is updated to have an API to generate project content, this can be replaced.
    - op: build
      completed: 1
    - op: replace_in_file
{%- if 'No RTOS' in project.rtos %}
      src: src/hal_entry.c
{%- else %}
      src: src/new_thread0_entry.c
{%- endif %}
      match: '/* TODO: add your own code here */'
      replace: |
        {{ project.template_data.todo_replacement | indent( width=8, first=False) }}
    - op: build
      completed: 1
{% endfor %}
